body{
    height: 100vh;
    background-color: rgb(50, 50, 117);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.container{
    width: 60%;
    height: 250px;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 0 3px;

}



#timer{
    width: 100%;
    font-size: 72px;
    text-align: center;
    margin: 0px auto;
    padding: 35px;
}

.button-container{
    text-align: center;
    margin-top: 40px;
}



button{
    margin: 0px 10px;
    border: none;

}



#startStop {
background-color: red;
color: white;
width: 70px;
padding: 10px;
font-size: 20px;
font-weight: 600;
border-radius: 10px;
} 

#startStop:hover{
    color: red;
    background-color: white;
    border: 3px solid red;
}

/* #play{
    background-color: green;
     width: 100%;
     padding: 10px;
     border-radius: 20px;
}

#pause{
    background-color: yellow;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
/* }* */

#resetBtn{
    background-color: rgb(0, 255, 72);
    width: 70px;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
}


