body{
    height: 100vh;
    background-color: rgb(50, 50, 117);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.container{
    width: 80%;
    height: 250px;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 0 3px;
    padding-bottom: 5%;

}

    
.buttons{
    text-align: center;
    padding-top: 100px;
}

button{
    margin: 0 10px;
    border: none;
    
    background-color: white;
}

button span{
    font-size: 1.4rem;
    padding: 10px;
    color: #fff;
    width: 70px;
    border-radius: 7px;
    /* width: 50px; */
}

#play{
    background-color: green;
    padding-left: 20px;
    padding-right: 20px;
}

#play:hover{
    background-color: rgba(0, 128, 0, 0.608);
}

#pause{
    background-color: orange;
}



#reset{
    background-color: red;
}

#reset:hover{
    background-color: rgba(255, 0, 0, 0.645);
}

#timer{
    width: 100%;
    font-size: 54px;
    text-align: center;
    margin: 0px auto;
    padding-top: 35px;
    transform: .3s;
}



@media screen and (min-width: 1024px){

    .container{
        width: 60%;
        height: 250px;
        background-color: #fff;
        border-radius: 30px;
        box-shadow: 0 0 3px;
        padding-bottom: 5%;
    
    }

    #timer{
        font-size: 72px;
    }


    

}



